django-toolbelt
asgiref
certifi
Django
djangorestframework
django_pandas
django-cors-headers
django-crispy-forms
dlib
face-recognition
numpy
opencv-python
Pillow
imutils
scikit-learn==0.20.4
sklearn
scipy
matplotlib
seaborn
pytz
sqlparse
gunicorn
whitenoise
